<div class="pokemon-card-container">
  <div class="bulbabsaur-evo-group">
    <!-- Bulbasaur card -->
    <mat-card class="pokemon-card bulbasaur-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="bulbasaur-avatar"></div>
        <mat-card-title>Bulbasaur</mat-card-title>
        <mat-card-subtitle>Seed</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" />
      <mat-card-content>
        <p>
          {{ bulbasaurDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Ivysaur card -->
    <mat-card class="pokemon-card ivysaur-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="ivysaur-avatar"></div>
        <mat-card-title>Ivysaur</mat-card-title>
        <mat-card-subtitle>Seed</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png" />
      <mat-card-content>
        <p>
          {{ ivysaurDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Venusaur card -->
    <mat-card class="pokemon-card venusaur-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="venusaur-avatar"></div>
        <mat-card-title>Venusaur</mat-card-title>
        <mat-card-subtitle>Seed</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/3.png" />
      <mat-card-content>
        <p>
          {{ venusaurDescription }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="charmander-evo-group">
    <!-- Charmander card -->
    <mat-card class="pokemon-card charmander-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="charmander-avatar"></div>
        <mat-card-title>Charmander</mat-card-title>
        <mat-card-subtitle>Lizard</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" />
      <mat-card-content>
        <p>
          {{ charmanderDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Charmeleon card -->
    <mat-card class="pokemon-card charmeleon-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="charmeleon-avatar"></div>
        <mat-card-title>Charmeleon</mat-card-title>
        <mat-card-subtitle>Flame</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/5.png" />
      <mat-card-content>
        <p>
          {{ charmeleonDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Charizard card -->
    <mat-card class="pokemon-card charizard-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="charizard-avatar"></div>
        <mat-card-title>Charizard</mat-card-title>
        <mat-card-subtitle>Flame</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png" />
      <mat-card-content>
        <p>
          {{ charizardDescription }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="squirtle-evo-group">
    <!-- Squirtle card -->
    <mat-card class="pokemon-card squirtle-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="squirtle-avatar"></div>
        <mat-card-title>squirtle</mat-card-title>
        <mat-card-subtitle>Tiny Turtle</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png" />
      <mat-card-content>
        <p>
          {{ squirtleDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Wartortle card -->
    <mat-card class="pokemon-card wartortle-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="wartortle-avatar"></div>
        <mat-card-title>Wartortle</mat-card-title>
        <mat-card-subtitle>Turtle</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/8.png" />
      <mat-card-content>
        <p>
          {{ wartortleDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Blastoise card -->
    <mat-card class="pokemon-card blastoise-card" appearance="raised">
      <mat-card-header>
        <div mat-card-avatar class="blastoise-avatar"></div>
        <mat-card-title>Blastoise</mat-card-title>
        <mat-card-subtitle>Shellfish</mat-card-subtitle>
      </mat-card-header>
      <img style="margin:10px;" mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/9.png" />
      <mat-card-content>
        <p>
          {{ blastoiseDescription }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
