.main-container {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  width: 100%;
}

.header-background {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: solid 1px white;
}

.header-title {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.username {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: flex-end;
}

.user-container {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
